<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền cần thiết -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskDealineTrackerBTL"
        tools:targetApi="31">

        <!-- Activity khởi chạy -->
        <activity android:name=".MainActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các Activity khác -->
        <activity android:name=".TaskActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".AddActivity" />
        <activity android:name=".DetailActivity"/>
        <activity android:name=".EditTaskActivity"/>
        <activity android:name=".AnalyticsActivity" />

        <!-- Receiver xử lý nhắc nhở -->
        <receiver
            android:name=".reminder.ReminderReceiver"
            android:exported="false" />
    </application>

</manifest>
